* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

button {
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

header {
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  background: #fff;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    .logo {
      color: #262147;
      font-size: 32px;
      font-weight: 600;
      font-family: sans-serif;
    }
    .nav__items {
      display: flex;
      align-items: center;
      gap: 32px;
      a {
        color: #262147;
        font-size: 20px;
        font-weight: 500;
        font-family: sans-serif;
      }
    }
    .menu {
      display: none;
    }
  }
  @media only screen and (max-width: 525px) {
    nav {
      .nav__items {
        position: absolute;
        background: #fff;
        opacity: 0.9;
        width: 100%;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        top: -500px;
        justify-content: center;
        gap: 10px;
        flex-direction: column;
        transition: 0.2s;
        padding: 20px;
        &.show {
          top: 55px;
          box-shadow: 3px 3px 5px rgba(123, 123, 123, 0.2);
        }
      }
      .menu {
        background: transparent;
        display: block;
        svg {
          font-size: 32px;
        }
      }
    }
  }
}

.hero {
  padding-top: 10px;
  width: 100%;
  .cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 32px;
    .card {
      h1 {
        font-size: 48px;
        color: #222147;
        font-family: sans-serif;
        line-height: 72px;
      }
      h2 {
        font-size: 40px;
        color: #222147;
        font-family: sans-serif;

        span {
          color: #16c6c6;
          font-size: 40px;
        }
      }
      p {
        max-width: 550px;
        color: #222147;
        font-family: sans-serif;
        font-size: 20px;
        font-weight: 500;
        padding-top: 20px;
      }
      .contact {
        display: flex;
        align-items: center;
        gap: 20px;
        padding-top: 20px;
        a {
          background: transparent;
          border: 2px solid #16c6c6;
          padding: 10px 12px;
          border-radius: 50% 50%;
          svg {
            font-size: 28px;
            color: #16c6c6;
          }
        }
      }
      .img {
        overflow: hidden;
        border-radius: 50% 50%;
        background: #ccc;
        height: 600px;

        width: 100%;
        width: 600px;
        img {
          width: 100%;
          border-radius: 50% 50%;
        }
      }
      button {
        margin-top: 50px;
        background: transparent;
        font-size: 16px;
        color: #fff;
        font-weight: 600;
        padding: 15px 30px;
        border-radius: 12px;
        background: #16c6c6;
      }
    }
  }
  @media only screen and (max-width: 606px) {
    .cards {
      justify-content: center;
      .card {
        h1 {
          font-size: 32px;
          line-height: 48px;
        }
        h2 {
          font-size: 28px;
          span {
            font-size: 28px;
          }
        }
        p {
          font-size: 16px;
        }
        .img {
          width: 400px;
          height: 400px;
        }
      }
    }
  }
  @media only screen and (max-width: 414px) {
    .cards {
      .card {
        .img {
          width: 300px;
          height: 300px;
        }
      }
    }
  }
}

.skills {
  padding: 40px 0;
  .content {
    h1 {
      font-size: 48px;
      color: #222147;
      font-family: sans-serif;
      line-height: 72px;
      text-align: center;
      padding: 50px 0 20px;
    }
    .cards {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 64px;
      padding: 0 20px;
      .card {
        border: 2px solid #ccc;
        padding: 20px 40px;
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        flex-direction: column;
        p {
          font-family: sans-serif;
          font-size: 16px;
          color: #222147;
          font-weight: 600;
        }
        svg {
          font-size: 32px;
        }
      }
    }
  }
  @media only screen and (max-width: 555px) {
    .content {
      .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
      }
    }
  }
}

.projects {
  padding: 40px 0;
  .content {
    h1 {
      font-family: sans-serif;
      font-size: 36px;
      color: #222147;
      text-align: center;
      font-weight: 600;
    }
  }
}

.contact {
  padding: 40px 0;
  .content {
    h2 {
      color: #222147;
      font-size: 36px;
      font-weight: 600;
      font-family: sans-serif;
      text-align: center;
      padding: 20px 0;
    }
    form {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 24px;
      input {
        width: 337px;
        height: 40px;
        outline: none;
        padding: 20px;
      }
      textarea {
        padding: 20px;
        resize: none;
        outline: none;
      }
      button {
        background: #16c6c6;
        color: #fff;
        font-size: 16px;
        padding: 15px 30px;
        text-align: center;
        border-radius: 12px;
      }
    }
  }
}
