* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

button {
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

header {
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    .logo {
      color: #262147;
      font-size: 32px;
      font-weight: 600;
      font-family: sans-serif;
    }
    .nav__items {
      display: flex;
      align-items: center;
      gap: 32px;
      a {
        color: #262147;
        font-size: 16px;
        font-weight: 500;
        font-family: sans-serif;
      }
    }
  }
}

.hero {
  padding-top: 10px;
  width: 100%;
  .cards {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .card {
      h1 {
        font-size: 48px;
        color: #222147;
        font-family: sans-serif;
        line-height: 72px;
      }
      h2 {
        font-size: 40px;
        color: #222147;
        font-family: sans-serif;

        span {
          color: #16c6c6;
          font-size: 40px;
        }
      }
      p {
        max-width: 550px;
        color: #222147;
        font-family: sans-serif;
        font-size: 20px;
        font-weight: 500;
        padding-top: 20px;
      }
      .contact {
        display: flex;
        align-items: center;
        gap: 20px;
        padding-top: 20px;
        a {
          background: transparent;
          border: 2px solid #16c6c6;
          padding: 10px 12px;
          border-radius: 50% 50%;
          svg {
            font-size: 28px;
            color: #16c6c6;
          }
        }
      }
      .img {
        overflow: hidden;
        border-radius: 50% 50%;
        background: #ccc;
        height: 600px;

        width: 600px;
        img {
          width: 100%;
          border-radius: 50% 50%;
        }
      }
    }
  }
}
